<div style="display: block; margin: 50px auto !important; width: 66%; color: #337ab7;"><h1 style="margin-top: 50px">Edit Article: </h1></div>

<%= render 'form' %>

<div style="display: block; margin: 15px auto !important; width: 66%; color: #337ab7;">[<%= link_to 'cancel request & back to articles', articles_path %>]</div>