<div class="center jumbotron container-bs welcome-jumbotron-box">
  <h1>Welcome to Alpha-Blog</h1>
  <p><%= link_to 'Sign up now', signup_path , class: "btn btn-primary btn-lg btn-xlarge" %></p>
</div>



<!--<%= link_to 'AboutPage', about_path %>
<%= link_to 'Alpha blog', articles_path %> -->