<h1 class="center">listing all categories</h1>
<div class="main-container">
    <div class="center"><%= will_paginate %></div>
    <ul>
        <% @categories.each do |category| %>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="well">
                        <div class="article-body font-roboto font-weight-800">
                            <div class="category-box">
                                <li><%= link_to category.name.capitalize , category_path(category) %></li>
                            </div>          
                        </div>
                    </div>
                </div>
            </div>
        <%end%>
    </ul>    
    <div class="center"><%= will_paginate %></div>
</div>
