<!-- <div class="container"> -->
<div class="footer-container">
    <footer class="pre-footer"></footer>
    <footer class="main-footer">
        <small>copyright &copy; <a href="http://ideobyte.com" target="_blank">ideobyte developer</a></small>
        <nav>
            <ul>
                <li><%= link_to 'About us', about_path %></li>
            </ul>
        </nav>
    </footer>
    <footer class="post-footer"></footer>
</div>    
<!-- </div> -->